{% extends "base.html" %}
{% block content %}

<form class="form-inline justify-content-center mb-5", method="POST", action="{% url 'index' %}", enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
        <input type="file" class="form-control-lg" placeholder="Packets Log Here", value="{{form.log_file}}">
        <!-- {{form}} -->
        <!-- <input type="text" class="form-control-lg" placeholder="Your Email"> -->
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Upload Log</button>
        </div>
    </div>
</form>

<!-- {{team}} -->
<!-- <form method="POST", action="{% url 'index' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{form}} -->
    <!-- <input type="file" name="log_file"> -->
    <!-- <input type="submit" class="submit", value="Upload">

</form> -->

{% endblock content %}